/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
/* bg colors */
--background: #ffffff;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
text-decoration: none;
list-style-type: none;
}

/* HEADER */

header {
background: rgb(255, 255, 255);
width: 100%;
position: fixed;
top: 0;
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
z-index: 999;
}

.logo{
padding: 0;
height: 80px;
width: 100px;
justify-content: center;
}

.navbar{
display: flex;
margin: 20px;
}

.navbar li{
display: inline;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-align: center;
padding: 15px;
margin: 10px;
}

.navbar-list a {
color: rgb(99, 96, 97);
font-size: 14px;
}

.navbar-list li:first-child > a {
color: gray;
font-weight: 600;
}

.cart:before {
content: "\f290";
font-family: "Font Awesome 5 Free";
font-weight: 900;
font-size: 25px;
margin: 10px;
}

/* MENU HAMBURGUESA */

.menu-label {
position: absolute;
cursor: pointer;
font-size: 20px;
}

.menu-label:before {
content: "\f0c9";  
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: #333;
display: block;
width: 25px;
height: 25px;
margin-right: 0;
visibility: hidden;
}

.menu-label .fa-bars:before {
content: "\f0c9";
display: none;
}

input[type="checkbox"] {
display: none;
visibility: hidden;
}

input[type="checkbox"]:checked ~ .menu-label:before {
content: "\f00d"; 
}

/* CARRITO */

.cart input[type="checkbox"] {
display: flex;
visibility: visible;
}

.cart input[type="checkbox"]:checked + label + .cart-content{
display: flex;
}

.cart{
background: rgb(255, 254, 254);
width: 25px;
height: 25px;
right: 0;
padding: 0;
position: relative;
cursor: pointer;
}

.cart-content {
position: fixed;
top: 80px;
right: 50px;
width: 25%;
height: 400px;
flex-direction: column;
background-color: rgb(255, 255, 255);
border-top: 0px;
border-radius: 0px 0px 15px 15px;
z-index: 2;
display: none;
padding: 30px;
}

.cart h2 {
color: #333;
font-size: 20px;
font-weight: 600;
margin: 20px;
}

.cart-total {
display: flex;
justify-content: space-between;
align-items: baseline;
width: 100%;
margin: 0 20px 0 0;
}

.cart-total p {
color: black;
font-weight: 700;
}

.cart-content span{
margin-top: 20px;
border: 0.5px solid black;
width: 100%;
}

.cart-total{
margin: 20px 0;
}

.cart-total span {
color: black;
font-weight: 400;
font-size: 18px;
border-radius: 10px;
width: 60px;
}

.empty-msg {
color: rgb(17, 67, 113);
font-size: 14px;
}

.cart-content button{
border-radius: 10px;
margin: 10px 15px;
background-color: #5d5858;
color: white;
height: 40px;
}

body{
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
height: 700px;
margin-top: 60px;
}

main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.login {
margin: 20px 0 0 10px;
width: 700px;
height: 650px;
padding: 30px 30px 50px 30px;
background-color:  #e3e4e8;
box-sizing: border-box;
opacity: 1;
display: flex;
flex-direction: column;
align-items: center;
}

.login h2{
border-bottom: 1px solid red;
margin-top: 10px;
}

.login h3{
    color: #949cbc;
    margin: 15px;
    font-size: 18px;
}

.login h4{
    font-size: 12px;
    color: #666565;
}

#loginform{
display: flex;
flex-direction: column;
color: #000000;
}

.login p{
    font-size: 14px;
    margin-top: 10px;
}

#loginform input{
    font-size: 13px;
    color: #1b262c;
    display: inline;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    }

.icon-register a{
width: 55px;
height: 25px;
display: inline;
}

#check input {
font-size: 20px;
display: flex;
visibility: visible;
}

.login button {
    font-size: 14px;
    color:#ffffff;
    width: 20%;
    height: 50px;
    border: none;
    background-color:#000000;
    margin-top: 10px;
    }


/* FOOTER */

footer{
width: 100%;
}

.footer-contenedor{
height: 60px;
background-color: #1f1f1f;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.footer-links li{
display: inline;
font-size: 16px;
color: #535252;
border-right: 2px solid white;
}

.footer-links a{
padding: 0 10px 0 10px;
color: #535252;
}

.footer-name{
color: white;
padding-left: 10px;
}