@media (max-width: 992px) {
  body{
    overflow-x: hidden;
    width: auto;
    height: auto;
  }
  
  .navbar{
    margin: 20px;
  }

  .navbar-list {
    position: absolute;
    top: 80px;
    left: 5%;
    right: 5%;
    height: 550px;
    width: 90%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(158, 158, 158);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }

  .navbar-list a {
    font-size: 18px;
  }

  /* Mostramos el icono del menu */
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  .menu-open {
    display: flex;
  }

  .cart-bubble{
    right: 85px;
  }

  main{
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .hero-content {
    display: block;
    flex-direction: column;
  }

  #hero h1{
    text-align: center;
    font-size: 40px;
    justify-content: center;
    margin: 20px 40px;
    width: 80%;
  }

  .hero-content h1 > span{
    font-size: 55px;
  }

  .slider img {
    width: 90%;
  }

  #cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }

  #cards h2{
    font-size: 40px;
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .info-card{
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px;
  }

  .info-card img{
    display: none;
  }

  .contenedor-products{
    width: 100%;
  }

  #contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .new-user,
  .register-user{
    width: 600px;
  }

  .new-user a{
    margin-top: 10px;
    font-size: 14px;
    height: 60px;
    width: 120px;
    justify-content: center;
  }

  .register-user button{
    margin-top: 0;
    font-size: 14px;
    height: 60px;
    width: 120px;
    justify-content: center;
  }  
  
  .footer-contenedor{
    width: auto;
  }
}

@media (max-width: 576px){
  body{
    width: auto;
    overflow-x: hidden;
  }

  .navbar-list{
    width: 90%;
    height: auto;
    padding: 0;
    gap: 0;
  }

  .cart-bubble{
    right: 15%;
  }

  .cart{
    width: 90%;
    height: auto;
  }
  
  main{
    overflow-x: hidden;
    margin-top: 10%;
  }

  .subscript{
    flex-direction: column;
    height: auto;
  }

  .subscript h3{
    font-size: 18px;
  }

  .subscript a{
    font-size: 20px;
  }

  #hero h1{
    font-size: 35px;
  }

  #hero span{
    font-size: 40px;
  }

  .slider img {
    width: 90%;
    height: 400px;
  }

  .banner span{
    font-size: 22px;
  }

  .banner p{
    font-size: 13px;
  }

  #cards{
    height: 400px;
    margin: 0;
  }

  #contenedor{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }

  .new-user,
  .register-user{
    width: 500px;
    margin: 10px;
  }

  .login{
    width: 90%;
    height: auto;
    margin-left: 30px;
  }
  
  .footer-name{
    font-size: 14px;
  }
}
  
@media (max-width: 320px){
  body{
    width: auto;
    overflow-x: hidden;
  }

  header{
    left: 0%;
  }

  .navbar-list{
    width: auto;
  }

  .navbar-list a{
    font-size: 14px;
  }

  .cart-bubble{
    right: 26%;
  }

  .cart-container{
    width: auto;
    align-items: center;
  }

  .cart-select{
    flex-direction: column;
    width: 200px;
  }

  main{
    width: 100%;
  }

  .subscript{
    width: 100%;
  }

  .subscript h3{
    font-size: 12px;
  }

  .subscript a{
    font-size: 15px;
  }

  #hero h1{
    font-size: 28px;
  }

  #hero span{
    font-size: 30px;
  }

  .hero-content{
    margin: 10px;
  }

  .slider img {
    width: 50%;
    height: 200px;
  }

  #cards-content{
    width: auto;
  }

  .content-title h2{
    font-size:50px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #categories{
    display: inline;
    width: 80%;
    margin-top: 20%;
  }

  .product{
    width: 90%;
    align-items: center;
  }

  .product img{
    width: 200px;
    height: 180px;
  }

  .titulo{
    font-size: 18px;
    text-align: center;
  }

  .titulo p{
    font-size: 10px;
  }

  .new-user,
  .register-user{
    width: 200px;
    height: auto;
  }

  #contenedor h2{
    font-size: 15px;
  }

  .new-user p{
    font-size: 12px;
  }

  .login{
    margin-left: 15px;
  } 
  
  .footer-contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .footer-links a{
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}